main{
    font-family: 'Quicksand', sans-serif ;
    background-color: Ivory;
  }
  
a{
    text-decoration: none; 
    color: #000;
  }

a:hover{
    color:#000;
  }

h2{
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;

  }

h4{
    font-weight: bold;
  }

h5{
    font-weight: bold;
  }

.golden{
    color: #bfa87c;
    font-size: 27px;
  }