<div class="final">
    <div class="">
      <a name="footer">
        
        <p class="esquerda po" style="font-family: 'Quicksand', sans-serif" ><img src="../../../assets/img/448-paws-animal-morph-outline (2).gif"> U.C. de Ferramentas e Aplicações Multimédia 2021/2022</p></a>
    </div>
    <div class="direita">
      <table style="font-family: 'Quicksand', sans-serif">
        <tr>
          <td *ngFor="let aluno of autor ">{{aluno.nome}}</td>
        </tr>
        <tr>
          <td *ngFor="let aluno of autor ">{{aluno.numero}}</td>
        </tr>
        <tr>
          <td *ngFor="let aluno of autor ">{{aluno.email}}<a style="color:#bfa87c">__</a></td>
        </tr>
    </table>
    </div>
  </div>
<a id="link-topo" href="#inicio">&#9650;</a>
