#link-topo{
    text-decoration: none;
    color: #fff;
    background-color: #bfa87c;
    padding: 5px;
    padding-left: 9px;
    width: 32px;
    position: fixed;
    right: 15px;
    bottom: 10px;
    box-shadow: 1px 1px 5px #333;
   }