.navbar{
    padding-left: 20px;
    height: 8vw;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
  }
  
.collapse{
    margin-left: 0px;
  }
  
.navbar-brand{
    margin-left: 20px;
    padding-left: 10px;
  }