<hr class="hr1">
          <a name="main"><div class="mag">
            <h2> <a style="color:#bfa87c">-</a> Raças <a style="color:#bfa87c">-</a> </h2>
          </div></a>
          <div class="cima">
            <a class="boda" href="#golden"><div class="card" style="width: 22rem">
              <img src="../../../assets/img/10258-golden-retriever-conheca-as-principais-articles_media_mobile-2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text"><h4>Golden Retriver</h4>O Golden Retriever é uma raça extremamente dócil e carinhosa. Dá-se bem com crianças, outros animais, e farão de tudo para ver sua família feliz!
              </div>
            </div></a>
            <a class="boda" href="#husky"><div class="card" style="width: 22rem;">
              <img src="../../../assets/img/siberian_husky (1).jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text"><h4>Husky Siberiano</h4>Criados para o trabalho, estes cães têm toda a aparência dos lobos selvagens, mas enganam quem pensa que são agressivos. Extremamente amigáveis, os Huskys são fáceis de lidar e adoram companhia.
              </div>
            </div></a>
            <a class="boda" href="#border"><div class="card" style="width: 22rem;" >
              <img src="../../../assets/img/Male-Blue-Merle-Border-Collie_ForeverNaturalPhotography_Shutterstock (1).jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text"><h4>Border Collie</h4>Border collies são pastores e foram criados para trabalhar com ovelhas. É considerada a raça mais inteligente do mundo, são bricalhões e cheios de energia.
              </div>
            </div></a>
          </div>
          <hr class="hr1">
          <a name="carac"><div class="mag">
            <h2> <a style="color:#bfa87c">-</a> Características <a style="color:#bfa87c">-</a> </h2>
          </div></a>
          <a name="golden"><div class="baixo">
            <div class="card mb-3 card1" style="width: 800px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="../../../assets/img/golden.jpeg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Golden Retriver</h5>
                    <p class="card-text">
                      Amabilidade: 	&#9733;	&#9733;	&#9733;	&#9733; &#9733; <br>
                      Queda de pelo: 	&#9733;	&#9733;	&#9733; <br>
                      Relação com crianças: 	&#9733;	&#9733;	&#9733;	&#9733; <br>
                      Brincalhão: 	&#9733;	&#9733;	&#9733;	&#9733; &#9733; <br>
                      Apartamento: 	&#9733;	&#9733; <br>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div></a>
          <a name="husky"><div class="baixo">
            <div class="card mb-3 card1" style="width: 800px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="../../../assets/img/husky.jpeg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Husky Siberiano</h5>
                    <p class="card-text">
                      Amabilidade: 	&#9733;	&#9733;	&#9733; <br>
                      Queda de pelo: 	&#9733;	&#9733;	&#9733; &#9733; &#9733;<br>
                      Relação com crianças: 	&#9733;	&#9733;	&#9733;	&#9733; &#9733; <br>
                      Brincalhão: 	&#9733;	&#9733;	&#9733;	&#9733; &#9733; <br>
                      Apartamento: 	&#9733;	&#9733; <br>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div></a>
          <a name="border"></a><div class="baixo">
            <div class="card mb-3 card1" style="width: 800px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="../../../assets/img/border.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Border Collie</h5>
                    <p class="card-text">
                      Amabilidade: 	&#9733;	&#9733;	&#9733;	&#9733; <br>
                      Queda de pelo: 	&#9733;	&#9733;	&#9733; <br>
                      Relação com crianças: 	&#9733;	&#9733;	&#9733;	&#9733; &#9733; <br>
                      Brincalhão: 	&#9733;	&#9733;	&#9733;	&#9733; &#9733; <br>
                      Apartamento: 	&#9733;	&#9733; <br>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
